In [1]:
import mlxtend # apriori 등을 위함
import numpy as np
import pandas as pd

In [2]:
# create data-set
data  = np.array([
    ['milk', 'diaper', 'juice'],
    ['lettuce', 'diaper', 'beer'],
    ['milk', 'lettuce', 'diaper', 'beer'],
    ['lettuce', 'beer']
])

C:\Users\chica\AppData\Local\Temp\ipykernel_9780\2478205578.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data  = np.array([

In [3]:
# Apriori

In [4]:
from mlxtend.preprocessing import TransactionEncoder # 희소행렬을 만들기 위함

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
te_ary

array([[False,  True,  True, False,  True],
       [ True,  True, False,  True, False],
       [ True,  True, False,  True,  True],
       [ True, False, False,  True, False]])

In [5]:
te.columns_

['beer', 'diaper', 'juice', 'lettuce', 'milk']

In [6]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    beer  diaper  juice  lettuce   milk
0  False    True   True    False   True
1   True    True  False     True  False
2   True    True  False     True   True
3   True   False  False     True  False

In [7]:
%%time
from mlxtend.frequent_patterns import apriori

apriori(df, min_support= 0.5, use_colnames= True)

CPU times: total: 15.6 ms
Wall time: 15 ms

   support                 itemsets
0     0.75                   (beer)
1     0.75                 (diaper)
2     0.75                (lettuce)
3     0.50                   (milk)
4     0.50           (beer, diaper)
5     0.75          (lettuce, beer)
6     0.50        (lettuce, diaper)
7     0.50           (milk, diaper)
8     0.50  (lettuce, beer, diaper)

In [8]:
# FP - Growth

In [9]:
# 전처리 단계는 apriori와 동일
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns= te.columns_)
df

    beer  diaper  juice  lettuce   milk
0  False    True   True    False   True
1   True    True  False     True  False
2   True    True  False     True   True
3   True   False  False     True  False

In [10]:
%%time
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df,min_support=0.5,use_colnames=True)

CPU times: total: 0 ns
Wall time: 2.99 ms

   support                 itemsets
0     0.75                 (diaper)
1     0.50                   (milk)
2     0.75                (lettuce)
3     0.75                   (beer)
4     0.50        (lettuce, diaper)
5     0.50           (milk, diaper)
6     0.75          (lettuce, beer)
7     0.50           (beer, diaper)
8     0.50  (lettuce, beer, diaper)

In [ ]:
# CPU 속도가 fp-growth가 더 빠른것을 확인할 수 있다